#!/usr/bin/make -f
# debian/rules for gitolite package
# Copyright 2010-2011 by Gerfried Fuchs <rhonda@debian.org>
# Licenced under WTFPLv2

PKG = gitolite3
TMP = $(CURDIR)/debian/$(PKG)

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

%:
	dh $@ 

override_dh_auto_build:
	# Nothing to do here

override_dh_compress:
        dh_compress --all --exclude=.mkd


# Directory is created through gitolite.dirs
# The install macro is patched to have a static $version value
override_dh_install:
	dh_install
	./install -to $(TMP)/usr/share/$(PKG)
